body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#map {
    width: 100%;
    height: 500px;
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

form input, form select {
    margin: 5px 0;
    padding: 10px;
}

#filtros {
    margin: 20px;
}

#botones {
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
}

#dueños, #clientes {
    display: none;
}
